.button {
  font-size: 1.15rem;
  border-radius: 6px;
  padding: 0.5rem;
  border: 2px solid #4eb1b8;
  color: #276d72;
  font-weight: 600;
  transition: 0.4s ease;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: #181818;
  background-color: #4eb1b8;
}
