.task-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  padding: 0.5rem;
  border-left: 6px solid transparent;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px #1f1e1ea6;
  align-items: center;
  transition: 0.3s ease-in;
}

.task-title {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  margin-left: 3px;
}

.button-container {
  display: flex;
}

.remove-task-btn,
.task-details-btn {
  background: none;
  color: #3d3d3d;
  display: flex;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  margin-left: 5px;
  transition: 0.3s ease-out;
}

.remove-task-btn:hover,
.task-details-btn:hover {
  transform: scale(1.1);
}
