.button {
  font-size: 1.15rem;
  border-radius: 6px;
  padding: 0.5rem;
  border: 2px solid var(--cor01);
  background-color: var(--cor01);
  font-weight: 600;
  transition: 0.4s ease;
  cursor: pointer;
  outline: none;
}

.button:hover {
  filter: brightness(90%);
}
